aside {
    border: none;
    display: flex;
    height: 100%;
    width: 18%;
}

body {
    background-color: rgb(38, 8, 77);
    display: flex;
    flex-direction: row;
}

h1 {
    text-align: center;
    width: 100%;
}

header {
    width: 100%;
    display: flex;
}

iframe {
    border: none;
    width: 100%;
}

main {
    align-self: center;
    display: flex;
    font-size: 20px;
    height: fit-content;
    flex-direction: column;
    justify-content: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    width: 100%;
}

.main {
    width: 82%;
    display: flex;
    flex-direction: column;
}

