table, tr, td {
    border: solid black 1px;
    border-collapse: collapse;
    text-align: center;
}

main {
    background-color:rgb(119, 165, 177);
    font-size: x-large;
}

.out {
    width: 15%;
}

body {
    color: rgb(85, 68, 28);
}